streamlit
PyMuPDF
faiss-cpu
spacy
google-generativeai
sentence-transformers
protobuf  # required by google-generativeai
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
fastapi
uvicorn
requests
PyMuPDF
faiss-cpu
sentence-transformers
google-generativeai
pydantic
pinecone
pinecone-client-6.0.0 
python-dotenv-1.1.1
