# Core Web App
fastapi
uvicorn
pinecone-client>=3.0.0,<4.0.0
# PDF & Parsing
PyMuPDF

# Google Generative AI
google-generativeai
protobuf  # Needed for Google GenAI

# Utilities
requests
python-dotenv 
